
.title--wbBgdm-n{font-size:24px;text-align:center;line-height:30px;margin-bottom:12px;font-weight:700}.subtitle--qWKogzLL{font-size:14px;text-align:center;line-height:18px;margin-bottom:28px;font-weight:400}.container--lNi-At6g{display:flex;justify-content:center;align-items:center}.container--DqsJAEQy{width:360px}
