
.menuSignInUp--QQt-190M{padding-left:16px;display:flex;align-items:center;justify-content:center}.menuSignInUp--QQt-190M .signinUp--0xD2-ZZI{background:#222;color:#fff;height:32px;padding:6px 16px;border-radius:18px;cursor:pointer;min-width:80px;text-align:center}
